.Prologue {
  background: hsla(100, 50%, 75%, .8);
  margin: 5vw;
  display: flex;
  flex-direction: column;
}

.Prologue h1 {
  margin: 3vw;
}
.Prologue p {
  margin: 0 3vw;
}

.Prologue form {
  margin: 5vw;
}